<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.voiceoption.datasource.identification.identificationreceiptnumber.IdentificationReceiptNumberQueryMapper">

    <!-- ここからcreateメソッドの設定 -->
    <select id="create" resultType="String">
        SELECT
        EUC_TO_BINARY(lpad(seq_voice_identification_s.NEXTVAL,4,'0'))
        FROM DUAL
    </select>

</mapper>