<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.ltethreeg.datasource.connectperformance.limithistory.db.LimitHistoryMapper">

    <insert id="insertEvent">
        INSERT INTO lte_connect_limit_history_e
        ( event_id,
        event_type,
        event_date,
        event_process,
        lte_three_g_engagement_number,
        reason,
        before_connect_control_policy,
        after_connect_control_policy,
        before_speed_limit_status,
        after_speed_limit_status,
        before_destination_lim_status,
        after_destination_lim_status,
        request_date_time
        )
        VALUES
        ( seq_lte_connectlimit_history_e.NEXTVAL,
        BINARY_TO_EUC(#{eventType.dbValue}),
        #{eventDate},
        BINARY_TO_EUC(#{eventProcess}),
        BINARY_TO_EUC(#{limitHistory.lteThreeGEngagementNumber.value}),
        BINARY_TO_EUC(#{limitHistory.connectPerformanceEvent.dbValue}),
        BINARY_TO_EUC(#{limitHistory.beforeConnectControlPolicy.dbValue}),
        BINARY_TO_EUC(#{limitHistory.afterConnectControlPolicy.dbValue}),
        BINARY_TO_EUC(#{limitHistory.beforeSpeedLimitStatus.dbValue}),
        BINARY_TO_EUC(#{limitHistory.afterSpeedLimitStatus.dbValue}),
        BINARY_TO_EUC(#{limitHistory.beforeDestinationLimitStatus.dbValue}),
        BINARY_TO_EUC(#{limitHistory.afterDestinationLimitStatus.dbValue}),
        #{limitHistory.limitHistoryRequestDateTime.value}
        )
    </insert>


    <!--  件数の取得  -->
    <select id="findByLteThreeGEngagementNumberForCount" resultMap="LimitHistoryCountMap">
        select
            COUNT(lte_three_g_engagement_number) as limit_history_count
        FROM lte_connect_limit_history_e
        WHERE lte_three_g_engagement_number = BINARY_TO_EUC(#{lteThreeGEngagementNumber.value})
    </select>

    <resultMap id="LimitHistoryCountMap" type="jp.co.biglobe.isp.mobile.ltethreeg.domain.view.limithistorylistrefer.LimitHistoryTotalCount">
        <constructor>
            <arg column="limit_history_count" javaType="Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>



    <!--  エンティティの取得  -->
    <select id="findAllByLteThreeGEngagementNumber" resultMap="LimitHistoryForViewMap">
        SELECT *
        FROM
        (
          SELECT
            rownum as row_id,
            lte_three_g_engagement_number,
            reason,
            before_connect_control_policy,
            after_connect_control_policy,
            before_speed_limit_status,
            after_speed_limit_status,
            before_destination_lim_status,
            after_destination_lim_status,
            request_date_time
            FROM
                (SELECT
                <include refid="selectColumnsDefine"/>
                FROM lte_connect_limit_history_e
                WHERE
                lte_three_g_engagement_number = BINARY_TO_EUC(#{lteThreeGEngagementNumber.value})
                ORDER BY request_date_time DESC
                )
        )
        WHERE row_id BETWEEN #{row} AND #{high}
    </select>

    <sql id="selectColumnsDefine">
        EUC_TO_BINARY(lte_three_g_engagement_number) AS lte_three_g_engagement_number,
        EUC_TO_BINARY(reason) AS reason,
        EUC_TO_BINARY(before_connect_control_policy) AS before_connect_control_policy,
        EUC_TO_BINARY(after_connect_control_policy) AS after_connect_control_policy,
        EUC_TO_BINARY(before_speed_limit_status) AS before_speed_limit_status,
        EUC_TO_BINARY(after_speed_limit_status) AS after_speed_limit_status,
        EUC_TO_BINARY(before_destination_lim_status) AS before_destination_lim_status,
        EUC_TO_BINARY(after_destination_lim_status) AS after_destination_lim_status,
        request_date_time
    </sql>

    <resultMap id="LimitHistoryForViewMap" type="jp.co.biglobe.isp.mobile.ltethreeg.domain.view.limithistorylistrefer.LimitHistoryForView">
        <constructor>
            <arg column="row_id" javaType="Integer" jdbcType="INTEGER"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.connectperformance.limithistory.LimitHistory"
                 resultMap="LimitHistoryMap"/>
        </constructor>
    </resultMap>

    <resultMap id="LimitHistoryMap"
               type="jp.co.biglobe.isp.mobile.ltethreeg.domain.connectperformance.limithistory.LimitHistory">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.LteThreeGEngagementNumber"
                 resultMap="LteThreeGEngagementNumberMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.connectperformance.speedstatus.LimitStatus"
                 column="before_speed_limit_status"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.connectperformance.speedstatus.LimitStatus"
                 column="after_speed_limit_status"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.connectperformance.speedstatus.LimitStatus"
                 column="before_destination_lim_status"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.connectperformance.speedstatus.LimitStatus"
                 column="after_destination_lim_status"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.connectperformance.connectcontrolpolicy.ConnectControlPolicy"
                 column="before_connect_control_policy"
                 typeHandler="jp.co.biglobe.isp.mobile.ltethreeg.datasource.connectperformance.db.typehandler.ConnectControlPolicyTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.connectperformance.connectcontrolpolicy.ConnectControlPolicy"
                 column="after_connect_control_policy"
                 typeHandler="jp.co.biglobe.isp.mobile.ltethreeg.datasource.connectperformance.db.typehandler.ConnectControlPolicyTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.connectperformance.limithistory.LimitHistoryRequestDateTime"
                 resultMap="LimitStatusRequestDateTimeMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.connectperformance.ConnectPerformanceEvent"
                 column="reason"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
        </constructor>
    </resultMap>

    <resultMap id="LteThreeGEngagementNumberMap"
               type="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.LteThreeGEngagementNumber">
        <constructor>
            <arg column="lte_three_g_engagement_number" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="LimitStatusRequestDateTimeMap"
               type="jp.co.biglobe.isp.mobile.ltethreeg.domain.connectperformance.limithistory.LimitHistoryRequestDateTime">
        <constructor>
            <arg column="request_date_time" javaType="Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>

</mapper>
