<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.datasource.speedchargeengagement.speedchargeengagementnumber.SpeedChargeEngagementNumberQueryMapper">

    <!-- ここからcreateメソッドの設定 -->

    <select id="create" resultMap="SpeedChargeEngagementNumberMap">
        SELECT
          EUC_TO_BINARY(LPAD(seq_lte_speed_charge_state.NEXTVAL,8,'0')) AS speed_charge_engage_number
        FROM DUAL
    </select>

    <!--  ValueObjectのマッピング  -->
    <resultMap id="SpeedChargeEngagementNumberMap" type="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.SpeedChargeEngagementNumber">
        <constructor>
            <arg column="speed_charge_engage_number" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

</mapper>