<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.ltethreeg.option.vpn.datasource.engagement.db.VpnEngagementQueryMapper">


    <select id="findByLteThreeGEngagementNumber" resultType="_int">
        SELECT COUNT(*)
        FROM lte_option_status
        WHERE foreign_key1 = BINARY_TO_EUC(#{lteThreeGEngagementNumber.value})
        AND index_free1 = BINARY_TO_EUC(#{vpnOptionCode.value})
    </select>

</mapper>
