<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.voiceoption.datasource.charge.engagementmonthdisengagementcharge.db.EngagementMonthDisengagementChargeQueryMapper">

    <insert id="insertEvent">
        INSERT INTO voice_eng_month_diseng_chrg_e
        ( event_id,
          event_type,
          event_date,
          event_process,
          voice_engagement_number,
          operator_id,
          user_id,
          item_code,
          fee,
          charge_date_time
        )
        VALUES
        ( seq_voice_e_month_dise_chrg_e.NEXTVAL,
          BINARY_TO_EUC(#{eventType.dbValue}),
          #{eventDate},
          BINARY_TO_EUC(#{eventProcess}),
          #{voiceEngagementNumber.value},
          BINARY_TO_EUC(#{operatorId.value}),
          BINARY_TO_EUC(#{userId.value}),
          BINARY_TO_EUC(#{engagementMonthDisengagementItemCode.value}),
          #{engagementMonthDisengagementFee.value},
          #{eventDate}
        )
    </insert>

    <insert id="insertState">
        INSERT INTO voice_eng_month_diseng_chrg_s
        ( voice_engagement_number,
          operator_id,
          user_id,
          item_code,
          fee,
          charge_date_time
        )
        VALUES
        ( #{voiceEngagementNumber.value},
          BINARY_TO_EUC(#{operatorId.value}),
          BINARY_TO_EUC(#{userId.value}),
          BINARY_TO_EUC(#{engagementMonthDisengagementItemCode.value}),
          #{engagementMonthDisengagementFee.value},
          #{eventDate}
        )
    </insert>

    <select id="findByVoiceEngagementNumber" resultMap="ValidEngagementMonthDisengagementChargeMap">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM voice_eng_month_diseng_chrg_s e
        WHERE voice_engagement_number = #{voiceEngagementNumber.value}
    </select>

    <!--  select文のカラム指定  -->
    <sql id="selectColumnsDefine">
        e.voice_engagement_number AS e_voice_engagement_number,
        EUC_TO_BINARY(e.operator_id) AS e_operator_id,
        EUC_TO_BINARY(e.user_id) AS e_user_id,
        EUC_TO_BINARY(e.item_code) AS e_item_code,
        e.fee AS e_fee,
        e.charge_date_time AS e_charge_date_time
    </sql>

    <!--  エンティティのマッピング  -->
    <resultMap id="ValidEngagementMonthDisengagementChargeMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.charge.engagementmonthdisengagementcharge.ValidEngagementMonthDisengagementCharge">
        <constructor>
            <!--
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementNumber"
                 resultMap="VoiceEngagementNumberMap"/>
            <arg javaType="jp.co.biglobe.isp.auth.domain.user.UserId"
                 resultMap="UserIdMap"/>
            <arg javaType="jp.co.biglobe.isp.auth.domain.operatornouser.OperatorId"
                 resultMap="OperatorIdMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.charge.engagementmonthdisengagementcharge.EngagementMonthDisengagementItemCode"
                 resultMap="ItemCodeMap"/>
            -->
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.disengage.VoiceEngagementMonthDisengagementChargeDateTime"
                 resultMap="ChargeDateMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.charge.engagementmonthdisengagementcharge.EngagementMonthDisengagementFee"
                 resultMap="FeeMap"/>
        </constructor>

    </resultMap>

    <!--  各ValueObjectのマッピング  -->
    <!--
    <resultMap id="VoiceEngagementNumberMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementNumber">
        <constructor>
            <arg column="e_voice_engagement_number" javaType="int" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>

    <resultMap id="OperatorIdMap" type="jp.co.biglobe.isp.auth.domain.operatornouser.OperatorId">
        <constructor>
            <arg column="e_operator_id" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="UserIdMap" type="jp.co.biglobe.isp.auth.domain.user.UserId">
        <constructor>
            <arg column="e_user_id" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="ItemCodeMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.charge.engagementmonthdisengagementcharge.EngagementMonthDisengagementItemCode">
        <constructor>
            <arg column="e_item_code" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    -->

    <resultMap id="FeeMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.charge.engagementmonthdisengagementcharge.EngagementMonthDisengagementFee">
        <constructor>
            <arg column="e_fee" javaType="int" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="ChargeDateMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.disengage.VoiceEngagementMonthDisengagementChargeDateTime">
        <constructor>
            <arg column="e_charge_date_time" javaType="Date" jdbcType="TIMESTAMP" />
        </constructor>
    </resultMap>
</mapper>