<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.voiceoption.datasource.mnpout.db.MnpOutCompleteQueryMapper">


    <insert id="insertEvent">
        INSERT INTO voice_mnp_out_complete_event
        ( event_id,
          event_type,
          event_date,
          event_process,
          voice_mnp_out_id,
          mnp_out_complete_confirm_date
        )
        VALUES (
          seq_voice_mnp_out_comp_e.NEXTVAL,
          BINARY_TO_EUC(#{eventType.dbValue}),
          #{eventDate},
          BINARY_TO_EUC(#{eventProcess}),
          #{validData.voiceMnpOutId.value},
          BINARY_TO_EUC(#{validData.mnpOutCompletionConfirmedDate.value})
        )
    </insert>


    <insert id="insertState">
        INSERT INTO voice_mnp_out_complete_state
        (
          voice_mnp_out_id,
          mnp_out_complete_confirm_date
          )
        VALUES (
          #{after.voiceMnpOutId.value},
          BINARY_TO_EUC(#{after.mnpOutCompletionConfirmedDate.value})
        )
    </insert>


    <!--  エンティティのマッピング  -->
    <resultMap id="VoiceMnpOutIdMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpout.VoiceMnpOutId">
        <constructor>
            <arg column="co_voice_mnp_out_id" javaType="int" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="MnpOutCompletionMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpout.mnpoutcompletion.ValidMnpOutCompletion">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpout.VoiceMnpOutId"
                 resultMap="VoiceMnpOutIdMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpout.mnpoutcompletion.MnpOutCompletionConfirmedDate"
                 resultMap="MnpOutConfirmDateMap"/>
        </constructor>
    </resultMap>

    <!--  各ValueObjectのマッピング  -->
    <resultMap id="MnpOutConfirmDateMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpout.mnpoutcompletion.MnpOutCompletionConfirmedDate">
        <constructor>
            <arg column="mnp_out_complete_confirm_date" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
</mapper>
