<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.voiceoption.datasource.mnpout.db.MnpOutIdQueryMapper">

    <!-- ここからcreateメソッドの設定 -->
    <select id="create" resultMap="MnpOutIdMap">
        SELECT
        seq_voice_mnp_out_state.NEXTVAL AS mnp_out_id
        FROM DUAL
    </select>

    <!--  ValueObjectのマッピング  -->
    <resultMap id="MnpOutIdMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpout.VoiceMnpOutId">
        <constructor>
            <arg column="mnp_out_id" javaType="int" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
</mapper>
