<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.voiceoption.datasource.mnpout.db.MnpOutPersonalInfoQueryMapper">

    <insert id="insertEvent">
        INSERT INTO voice_mnp_out_personal_info_e
        (
        event_id,
        event_type,
        event_date,
        event_process,
        voice_mnp_out_id,
        mnp_out_full_name,
        mnp_out_full_name_kana,
        mnp_out_birthday,
        mnp_out_gender
        )
        VALUES (
            seq_voice_mnp_out_psnl_inf_e.NEXTVAL,
            BINARY_TO_EUC(#{eventType.dbValue}),
            #{eventDate},
            BINARY_TO_EUC(#{eventProcess}),
            #{validData.voiceMnpOutId.value},
            BINARY_TO_EUC(#{validData.mnpFullName.value}),
            BINARY_TO_EUC(#{validData.mnpFullNameKana.value}),
            BINARY_TO_EUC(#{validData.mnpBirthday.value}),
            BINARY_TO_EUC(#{validData.mnpGender.dbValue})
        )
    </insert>

    <insert id="insertState">
        INSERT INTO voice_mnp_out_personal_info_s
        (
        voice_mnp_out_id,
        mnp_out_full_name,
        mnp_out_full_name_kana,
        mnp_out_birthday,
        mnp_out_gender
        )
        VALUES (
            #{after.voiceMnpOutId.value},
            BINARY_TO_EUC(#{after.mnpFullName.value}),
            BINARY_TO_EUC(#{after.mnpFullNameKana.value}),
            BINARY_TO_EUC(#{after.mnpBirthday.value}),
            BINARY_TO_EUC(#{after.mnpGender.dbValue})
        )
    </insert>

    <delete id="deleteState">
        DELETE FROM voice_mnp_out_personal_info_s
                WHERE voice_mnp_out_id = #{before.voiceMnpOutId.value}
    </delete>


    <resultMap id="MnpOutPersonalInfoMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpout.ValidMnpOutPersonalInfo">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpout.VoiceMnpOutId"
                 resultMap="VoiceMnpOutIdMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.mnppersonalinfo.MnpFullName"
                 resultMap="MnpFullNameMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.mnppersonalinfo.MnpFullNameKana"
                 resultMap="MnpFullNameKanaMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.mnppersonalinfo.MnpGender" column="mnp_out_gender"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.mnppersonalinfo.MnpBirthday"
                 resultMap="MnpBirthdayMap"/>
        </constructor>
    </resultMap>

    <resultMap id="VoiceMnpOutIdMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpout.VoiceMnpOutId">
        <constructor>
            <arg column="p_voice_mnp_out_id" javaType="int" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>

    <resultMap id="MnpFullNameMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.mnppersonalinfo.MnpFullName">
        <constructor>
            <arg column="mnp_out_full_name" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="MnpFullNameKanaMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.mnppersonalinfo.MnpFullNameKana">
        <constructor>
            <arg column="mnp_out_full_name_kana" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="MnpBirthdayMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.mnppersonalinfo.MnpBirthday">
        <constructor>
            <arg column="mnp_out_birthday" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

</mapper>
