<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jndi/database"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="oracle.jdbc.OracleDriver"
              url="jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=202.225.0.167)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=xe)))"
              username="salesapi"
              password="salesapi"
              initialSize="0"
              maxActive="10"
              maxIdle="8"
              testOnReturn="false"
              testOnBorrow="true"
              validationQuery="select 1 from dual" />
</Context>
