<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.voiceoption.datasource.identification.db.IdentificationUploadMapper">

    <insert id="insertEvent">
        INSERT INTO voice_identification_upload_e
        ( event_id,
          event_type,
          event_date,
          event_process,
          identification_receipt_number,
          first_upload_date_time,
          upload_count
        )
        VALUES
        ( seq_voice_identity_upload_e.NEXTVAL,
          BINARY_TO_EUC(#{eventType.dbValue}),
          #{eventDate},
          BINARY_TO_EUC(#{eventProcess}),
          BINARY_TO_EUC(#{validData.identificationReceiptNumber.value}),
          #{validData.firstUploadDateTime.value},
          #{validData.uploadCount.value}
        )
    </insert>

    <insert id="insertState">
        INSERT INTO voice_identification_upload_s
        ( identification_receipt_number,
          first_upload_date_time,
          upload_count
        )
        VALUES
        ( BINARY_TO_EUC(#{after.identificationReceiptNumber.value}),
          #{after.firstUploadDateTime.value},
          #{after.uploadCount.value}
        )
    </insert>

    <update id="updateState">
        UPDATE voice_identification_upload_s
        SET
        identification_receipt_number = BINARY_TO_EUC(#{after.identificationReceiptNumber.value}),
        first_upload_date_time = #{after.firstUploadDateTime.value},
        upload_count = #{after.uploadCount.value}
        WHERE identification_receipt_number = BINARY_TO_EUC(#{before.identificationReceiptNumber.value})
    </update>

    <delete id="deleteState">
        DELETE FROM voice_identification_upload_s
        WHERE identification_receipt_number = BINARY_TO_EUC(#{before.identificationReceiptNumber.value})
    </delete>

    <!--  エンティティのマッピング  -->

    <!--  各ValueObjectのマッピング  -->
    <resultMap id="UploadMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.identification.upload.ValidIdentificationUpload">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.identification.IdentificationReceiptNumber"
                 resultMap="IdentificationReceiptNumberMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.identification.upload.FirstUploadDateTime"
                 resultMap="FirstUploadDateTimeMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.identification.upload.UploadCount"
                 resultMap="UploadCountMap"/>
        </constructor>
    </resultMap>

    <resultMap id="IdentificationReceiptNumberMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.identification.IdentificationReceiptNumber">
        <constructor>
            <arg column="u_identification_receipt_num" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <resultMap id="FirstUploadDateTimeMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.identification.upload.FirstUploadDateTime">
        <constructor>
            <arg column="first_upload_date_time" javaType="Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <resultMap id="UploadCountMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.identification.upload.UploadCount">
        <constructor>
            <arg column="upload_count" javaType="int" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>

</mapper>
