<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.voiceoption.datasource.mnpin.db.MnpInActivationDateMapper">

    <insert id="insertEvent">
        INSERT INTO voice_mnp_in_activation_event
        ( event_id,
          event_type,
          event_date,
          event_process,
          voice_engagement_number,
          mnp_activation_due_date
        )
        VALUES
        ( seq_voice_mnp_in_activation_e.NEXTVAL,
          BINARY_TO_EUC(#{eventType.dbValue}),
          #{eventDate},
          BINARY_TO_EUC(#{eventProcess}),
          #{validData.voiceEngagementNumber.value},
          BINARY_TO_EUC(#{validData.mnpInActivationDueDate.value})
        )
    </insert>

    <insert id="insertState">
        INSERT INTO voice_mnp_in_activation_state
        ( voice_engagement_number,
          mnp_activation_due_date
        )
        VALUES
        ( #{after.voiceEngagementNumber.value},
          BINARY_TO_EUC(#{after.mnpInActivationDueDate.value})
        )
    </insert>

    <update id="updateState">
        UPDATE voice_mnp_in_activation_state
        SET voice_engagement_number = #{after.voiceEngagementNumber.value},
            mnp_activation_due_date = BINARY_TO_EUC(#{after.mnpInActivationDueDate.value}
        WHERE voice_engagement_number = #{before.voiceEngagementNumber.value}
    </update>

    <delete id="deleteState">
        DELETE FROM voice_mnp_in_activation_state
        WHERE voice_engagement_number = #{before.voiceEngagementNumber.value}
    </delete>

    <!--  エンティティのマッピング  -->
    <resultMap id="ValidMnpInActivationMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpin.mnpinactivationduedate.ValidMnpInActivation">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementNumber" resultMap="VoiceEngagementNumberMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpin.mnpinactivationduedate.ValidMnpInActivationDueDate" resultMap="MnpInActivationDueDateMap"/>
        </constructor>
    </resultMap>

    <!--  各ValueObjectのマッピング  -->
    <resultMap id="VoiceEngagementNumberMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementNumber">
        <constructor>
            <arg column="a_voice_engagement_number" javaType="int" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="MnpInActivationDueDateMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.mnpin.mnpinactivationduedate.ValidMnpInActivationDueDate">
        <constructor>
            <arg column="a_mnp_activation_due_date" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

</mapper>
