<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.datasource.speedchargeengagement.db.SpeedChargeEngagementRepositoryQueryMapper">


    <insert id="insertState">
        INSERT INTO lte_scharge_state
        (
        lte_three_g_engagement_number,
        scharge_engagement_number,
        completion_status,
        update_date_time
        )
        VALUES
        (
        BINARY_TO_EUC(#{speedChargeEngagementEntity.lteThreeGEngagementNumber.value}),
        BINARY_TO_EUC(#{speedChargeEngagementEntity.speedChargeEngagementNumber.value}),
        BINARY_TO_EUC(#{speedChargeEngagementEntity.speedChargeCompletionStatus.dbValue}),
        #{eventDate}
        )
    </insert>

    <insert id="insertPurchaseEvent">
        INSERT INTO lte_scharge_purchase_event
        (
        scharge_engagement_number,
        lte_three_g_engagement_number,
        order_date_time,
        purchased_volume,
        event_date,
        event_process
        )
        VALUES
        (
        BINARY_TO_EUC(#{speedChargeEngagementEntity.speedChargeEngagementNumber.value}),
        BINARY_TO_EUC(#{speedChargeEngagementEntity.lteThreeGEngagementNumber.value}),
        #{speedChargeEngagementEntity.speedChargeOrderDateTime.value},
        #{speedChargeEngagementEntity.purchasedVolumeMB.value},
        #{eventDate},
        BINARY_TO_EUC(#{eventProcess})
        )
    </insert>

    <insert id="insertCompleteEvent">
        INSERT INTO lte_scharge_complete_event
        (
        scharge_engagement_number,
        application_end_date_time,
        event_date,
        event_process
        )
        VALUES
        (
        BINARY_TO_EUC(#{speedChargeEngagementEntity.speedChargeEngagementNumber.value}),
        #{speedChargeEngagementEntity.speedChargeApplicationEnd.speedChargeApplicationEndDateTime.value},
        #{eventDate},
        BINARY_TO_EUC(#{eventProcess})
        )
    </insert>

    <update id="updateStateForPurchase">
        UPDATE lte_scharge_state
        SET
        scharge_engagement_number = BINARY_TO_EUC(#{speedChargeEngagementEntity.speedChargeEngagementNumber.value}),
        completion_status = BINARY_TO_EUC(#{speedChargeEngagementEntity.speedChargeCompletionStatus.dbValue}),
        update_date_time = #{eventDate}
        WHERE lte_three_g_engagement_number = BINARY_TO_EUC(#{speedChargeEngagementEntity.lteThreeGEngagementNumber.value})
    </update>

    <update id="updateState">
        UPDATE lte_scharge_state
        SET
        completion_status = BINARY_TO_EUC(#{speedChargeEngagementEntity.speedChargeCompletionStatus.dbValue}),
        update_date_time = #{eventDate}
        WHERE lte_three_g_engagement_number = BINARY_TO_EUC(#{speedChargeEngagementEntity.lteThreeGEngagementNumber.value})
    </update>

    <select id="findByLteThreeGEngagementNumber" resultMap="SpeedChargeEngagementEntityMap">
        <include refid="selectAndFrom"/>
        WHERE s.lte_three_g_engagement_number = BINARY_TO_EUC(#{lteThreeGEngagementNumber.value})
    </select>

    <sql id="selectAndFrom">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM lte_scharge_state s LEFT OUTER JOIN lte_scharge_purchase_event p
        ON s.scharge_engagement_number = p.scharge_engagement_number
        LEFT OUTER JOIN lte_scharge_complete_event c
        ON s.scharge_engagement_number = c.scharge_engagement_number
    </sql>

    <!--  select文のカラム指定  -->
    <sql id="selectColumnsDefine">
        EUC_TO_BINARY(s.scharge_engagement_number) AS scharge_engagement_number,
        EUC_TO_BINARY(s.lte_three_g_engagement_number) AS lte_three_g_engagement_number,
        EUC_TO_BINARY(s.completion_status) AS completion_status,
        p.order_date_time AS order_date_time,
        p.purchased_volume,
        c.application_end_date_time
    </sql>

    <select id="findAllByLteThreeGEngagementNumber" resultMap="SpeedChargeEngagementEntityMap">
        SELECT
         EUC_TO_BINARY(p.scharge_engagement_number) AS scharge_engagement_number,
         EUC_TO_BINARY(p.lte_three_g_engagement_number) AS lte_three_g_engagement_number,
         CASE
           WHEN c.scharge_engagement_number IS NULL THEN #{remained.dbValue}
           ELSE #{completion.dbValue}
         END AS completion_status,
         p.order_date_time AS order_date_time,
         p.purchased_volume,
         c.application_end_date_time
        FROM lte_scharge_purchase_event p LEFT OUTER JOIN lte_scharge_complete_event c
        ON p.scharge_engagement_number = c.scharge_engagement_number
        WHERE p.lte_three_g_engagement_number = BINARY_TO_EUC(#{lteThreeGEngagementNumber.value})
        ORDER BY order_date_time DESC
    </select>

    <!--  エンティティのマッピング  -->
    <resultMap id="SpeedChargeEngagementEntityMap"
               type="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.ValidSpeedChargeEngagementEntity">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.SpeedChargeEngagementNumber"
                 resultMap="SpeedChargeEngagementNumberMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.LteThreeGEngagementNumber"
                 resultMap="LteThreeGEngagementNumberMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.PurchasedVolumeMB"
                 resultMap="PurchasedVolumeMBMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.SpeedChargeCompletionStatus"
                 column="completion_status"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.SpeedChargeOrderDateTime"
                 resultMap="SpeedChargeOrderDateMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.end.ValidSpeedChargeApplicationEnd"
                 resultMap="ValidSpeedChargeApplicationEndMap"/>
        </constructor>
    </resultMap>

    <resultMap id="SpeedChargeEngagementNumberMap"
               type="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.SpeedChargeEngagementNumber">
        <constructor>
            <arg column="scharge_engagement_number" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="LteThreeGEngagementNumberMap"
               type="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.LteThreeGEngagementNumber">
        <constructor>
            <arg column="lte_three_g_engagement_number" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="PurchasedVolumeMBMap"
               type="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.PurchasedVolumeMB">
        <constructor>
            <arg column="purchased_volume" javaType="int" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>

    <resultMap id="SpeedChargeOrderDateMap"
               type="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.SpeedChargeOrderDateTime">
        <constructor>
            <arg column="order_date_time" javaType="Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>

    <resultMap id="ValidSpeedChargeApplicationEndMap"
               type="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.end.ValidSpeedChargeApplicationEnd">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.end.SpeedChargeApplicationEndDateTime"
                 resultMap="SpeedChargeApplicationEndDateTimeMap"/>
        </constructor>
    </resultMap>
    <resultMap id="SpeedChargeApplicationEndDateTimeMap"
               type="jp.co.biglobe.isp.mobile.ltethreeg.option.charge.domain.speedchargeengagement.end.SpeedChargeApplicationEndDateTime">
        <constructor>
            <arg column="application_end_date_time" javaType="Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>

</mapper>
