<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.callhistory.datasource.summary.msisdnsummary.db.MsisdnSummaryQueryMapper">

    <select id="findByUserIdAndTargetMonth" resultMap="MsisdnSummaryMap">
      SELECT
      	EUC_TO_BINARY(tab3.msisdn) AS msisdn,
      	EUC_TO_BINARY(tab3.call_kind) AS call_kind,
      	SUM(tab4.SUM_AJT_CHARGE) AS SUM_CHARGE_AMOUNT,
      	EUC_TO_BINARY(TO_CHAR(SUM(tab4.call_or_send_count))) AS call_or_send_count
      FROM
      	(
      		SELECT
      			*
      		FROM
      			(
      				SELECT
      					DISTINCT lci.primary_key1 AS lte_threeg_engagement_number,
      					lci.index_free1 AS biglobe_id,
      					lue.item_free21 AS msisdn
      				FROM
      					lte_usable_equip lue
      					INNER JOIN lte_contract_info lci
      					    ON	lci.primary_key1 = lue.foreign_key1
						INNER JOIN LTE_ORDER_MEISAI om
							ON lue.primary_key1 = om.foreign_key2
							AND om.item_free11 in ('10')
      				WHERE
      					lci.index_free1 = BINARY_TO_EUC(#{userId.value})
                    AND lue.item_free21 IS NOT NULL
                    AND
                        (
                          lue.item_free_date7 <![CDATA[ >= ]]> #{firstDate}
                          OR	lue.item_free_date7 IS NULL
                        )
      			) tab1 CROSS JOIN
      			(
      				SELECT
      					*
      				FROM
      					history_charge_item_master hcm
      				WHERE
      					hcm.charge_start_date <![CDATA[ <= ]]> #{lastDate}
      				AND	(
      						hcm.charge_end_date <![CDATA[ >= ]]> #{firstDate}
      					OR	hcm.charge_end_date IS NULL
      					)
      				ORDER BY hcm.charge_id
      			) tab2
      	) tab3
      	LEFT JOIN
      		(
      			SELECT
      				*
      			FROM
      				history_common_sum_msisdn hcsm
      			WHERE
      				biglobe_id = BINARY_TO_EUC(#{userId.value})
      			AND	use_month = BINARY_TO_EUC(#{targetMonth.value})
      		) tab4
      	ON	tab3.LTE_THREEG_ENGAGEMENT_NUMBER = tab4.ENGAGEMENT_ID
      	AND	tab3.biglobe_id = tab4.biglobe_id
      	AND	tab3.CHARGE_ID = tab4.CHARGE_ID
      	AND	tab3.msisdn = tab4.msisdn
      GROUP BY
      	tab3.msisdn,
      	tab3.call_kind
      ORDER BY msisdn
    </select>


    <!--  エンティティのマッピング  -->
    <resultMap id="MsisdnSummaryMap" type="jp.co.biglobe.isp.mobile.callhistory.domain.summary.single.MsisdnSummary">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.sim.ValidMsisdn" resultMap="MsisdnMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.callhistory.domain.chargeitem.CallKind"
                 column="call_kind"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.callhistory.domain.summary.single.SumChargeAmount" resultMap="SumChargeAmountMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.callhistory.domain.summary.single.SumCountCallAndTrans" resultMap="SumCountTransMap"/>
        </constructor>
    </resultMap>

        <!--  各ValueObjectのマッピング  -->
        <resultMap id="MsisdnMap" type="jp.co.biglobe.isp.mobile.ltethreeg.domain.sim.ValidMsisdn">
            <constructor>
                <arg column="msisdn" javaType="String" jdbcType="VARCHAR"/>
            </constructor>
        </resultMap>

        <resultMap id="SumChargeAmountMap" type="jp.co.biglobe.isp.mobile.callhistory.domain.summary.single.SumChargeAmount">
            <constructor>
                <arg column="SUM_CHARGE_AMOUNT" javaType="int" jdbcType="INTEGER"/>
            </constructor>
        </resultMap>

        <resultMap id="SumCountTransMap" type="jp.co.biglobe.isp.mobile.callhistory.domain.summary.single.SumCountCallAndTrans">
            <constructor>
                <arg column="call_or_send_count" javaType="String" jdbcType="VARCHAR"/>
            </constructor>
        </resultMap>

</mapper>
