<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
        >

    <!-- コンテキスト -->
    <bean id="propertyConfigurer"
              class="jp.co.biglobe.lib.essential.property.PropertyAccessor">
        <property name="locations">
            <list>
                <value>classpath:properties/environment/${environment}.properties</value>
            </list>
        </property>
    </bean>
    <!-- <context:converter-placeholder location="${locations}" /> -->
    <!--bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/-->

    <!-- DATA SOURCE（TODO:JNDIに変える） ←テストコードからはJNDIは使えないのでこのままでいいと思う（やすにし）-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="defaultAutoCommit" value="true"></property>
        <property name="removeAbandoned" value="true"></property>
    </bean>

    <!-- メッセージファイルの読込 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <!-- 複数ファイルで同じkeyが定義されている場合は、最初に読み込んだファイルのkeyが有効になる -->
                <value>classpath:/META-INF/properties/message</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- AOP設定の読込 -->
    <import resource="classpath:META-INF/core/aop/aop.xml"/>

    <!-- MyBatis設定の読込 -->
    <import resource="classpath:META-INF/core/database/database.xml"/>

    <!-- コントローラ設定の読込 -->
    <import resource="classpath:META-INF/core/controller/controller.xml"/>

    <!-- リクエストスコープの設定の読込 -->
    <import resource="classpath:META-INF/core/scope/scope.xml"/>

    <!-- 全プロジェクト共通のcomponent-scanの設定（Autowiredに必要） -->
    <import resource="classpath:META-INF/core/component-scan.xml"/>

    <!-- Sales Proto Bean定義 -->
    <import resource="classpath:META-INF/project-root.xml" />

    <!-- DBUnitをAutowiredで呼び出す -->
    <context:component-scan base-package="jp.co.biglobe.test.util.dbunit" />

    <context:component-scan base-package="jp.co.biglobe.isp.auth.api" />
    <context:component-scan base-package="jp.co.biglobe.isp.mobile.voiceoption.testdata" />

</beans>
