<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
        >

    <!-- コンテキスト -->
    <bean id="propertyConfigurer"
              class="jp.co.biglobe.lib.essential.property.PropertyAccessor">
        <property name="locations">
            <list>
                <value>classpath:properties/environment/${environment}.properties</value>
            </list>
        </property>
    </bean>
    <!-- <context:converter-placeholder location="${locations}" /> -->
    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/>

    <!-- DATA SOURCE（TODO:JNDIに変える） ←テストコードからはJNDIは使えないのでこのままでいいと思う（やすにし）-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="defaultAutoCommit" value="true"></property>
        <property name="removeAbandoned" value="true"></property>
    </bean>
        
    <!-- Sales Proto Bean定義 -->
    <import resource="classpath:META-INF/mobile.xml" />

    <!-- DBUnitをAutowiredで呼び出す -->
    <context:component-scan base-package="jp.co.biglobe.test.util.dbunit" />

    <context:component-scan base-package="jp.co.biglobe.isp.auth.api" />
    <context:component-scan base-package="jp.co.biglobe.isp.mobile.voiceoption.testdata" />

</beans>
