<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       ">

    <!--
        テストコード用のアプリケーションコンテキストの設定ファイル
        ===================================================
    -->


    <!-- 全プロジェクトで共通のテストコードの設定ファイルの読込 -->
    <import resource="base/base-root.xml"/>


    <!-- ================== プロジェクト固有の設定の記述ココから ================== -->

    <context:component-scan base-package="jp.co.biglobe.isp.auth.api"/>
    <context:component-scan base-package="jp.co.biglobe.isp.mobile.voiceoption.testdata"/>

</beans>
