<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.voiceoption.datasource.identification.db.IdentificationSequenceQueryMapper">

    <update id="countUpIdentificationResultIdSequence">
        SELECT
            seq_voice_identity_result_s.NEXTVAL
        FROM DUAL
    </update>

</mapper>
