<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.voiceoption.datasource.voiceengagement.db.VoiceEngagementMapper">


    <!-- EventテーブルのInsert-->

    <insert id="insertEvent">
        INSERT INTO voice_engagement_event
        ( event_id,
          event_type,
          event_date,
          event_process,
          voice_engagement_number,
          system_receipt_date_time,
          voice_engagement_status,
          voice_user_order_date,
          engagement_start_date,
          engagement_end_date_time,
          voice_join_code,
          voice_cancel_list_op_status,
          voice_order_type,
          equipment_number,
          user_id,
          lte_three_g_engagement_number
       )
        VALUES
        ( seq_voice_engagement_event.NEXTVAL,
          BINARY_TO_EUC(#{eventType.dbValue}),
          #{eventDate},
          BINARY_TO_EUC(#{eventProcess}),
          #{validData.voiceEngagementNumber.value},
          #{validData.newOrderInfo.voiceSystemReceiptDateTime.value},
          BINARY_TO_EUC(#{validData.voiceEngagementStatus.dbValue}),
          BINARY_TO_EUC(#{validData.newOrderInfo.voiceUserOrderDate.value}),
          BINARY_TO_EUC(#{validData.voiceEngagementStartDate.value}),
          #{validData.voiceEngagementEndDateTime.value},
          BINARY_TO_EUC(#{validData.newOrderInfo.voiceJoinCode.value}),
          BINARY_TO_EUC(#{validData.cancelListOutPutStatus.dbValue}),
          BINARY_TO_EUC(#{validData.voiceOrderType.dbValue}),
          BINARY_TO_EUC(#{validData.voiceEngagementLinkage.equipmentNumber.value}),
          BINARY_TO_EUC(#{validData.voiceEngagementLinkage.userId.value}),
          BINARY_TO_EUC(#{validData.voiceEngagementLinkage.lteThreeGEngagementNumber.value})
        )
    </insert>

    <!-- StateテーブルのInsert-->

    <insert id="insertState">
        INSERT INTO voice_engagement_state
        ( voice_engagement_number,
          system_receipt_date_time,
          voice_engagement_status,
          voice_user_order_date,
          engagement_start_date,
          engagement_end_date_time,
          voice_join_code,
          voice_cancel_list_op_status,
          voice_order_type,
          equipment_number,
          user_id,
          lte_three_g_engagement_number
        )
        VALUES
        ( #{after.voiceEngagementNumber.value},
          #{after.newOrderInfo.voiceSystemReceiptDateTime.value},
          BINARY_TO_EUC(#{after.voiceEngagementStatus.dbValue}),
          BINARY_TO_EUC(#{after.newOrderInfo.voiceUserOrderDate.value}),
          BINARY_TO_EUC(#{after.voiceEngagementStartDate.value}),
          #{after.voiceEngagementEndDateTime.value},
          BINARY_TO_EUC(#{after.newOrderInfo.voiceJoinCode.value}),
          BINARY_TO_EUC(#{after.cancelListOutPutStatus.dbValue}),
          BINARY_TO_EUC(#{after.voiceOrderType.dbValue}),
          BINARY_TO_EUC(#{after.voiceEngagementLinkage.equipmentNumber.value}),
          BINARY_TO_EUC(#{after.voiceEngagementLinkage.userId.value}),
          BINARY_TO_EUC(#{after.voiceEngagementLinkage.lteThreeGEngagementNumber.value})
        )
    </insert>

    <!-- StateテーブルのUpdate-->

    <update id="updateState">
        UPDATE voice_engagement_state
        SET
          voice_engagement_number = #{after.voiceEngagementNumber.value},
          system_receipt_date_time = #{after.newOrderInfo.voiceSystemReceiptDateTime.value},
          voice_engagement_status = BINARY_TO_EUC(#{after.voiceEngagementStatus.dbValue}),
          voice_user_order_date = BINARY_TO_EUC(#{after.newOrderInfo.voiceUserOrderDate.value}),
          engagement_start_date = BINARY_TO_EUC(#{after.voiceEngagementStartDate.value}),
          engagement_end_date_time = #{after.voiceEngagementEndDateTime.value},
          voice_join_code = BINARY_TO_EUC(#{after.newOrderInfo.voiceJoinCode.value}),
          voice_cancel_list_op_status = BINARY_TO_EUC(#{after.cancelListOutPutStatus.dbValue}),
          voice_order_type = BINARY_TO_EUC(#{after.voiceOrderType.dbValue}),
          equipment_number = BINARY_TO_EUC(#{after.voiceEngagementLinkage.equipmentNumber.value}),
          user_id = BINARY_TO_EUC(#{after.voiceEngagementLinkage.userId.value}),
          lte_three_g_engagement_number = BINARY_TO_EUC(#{after.voiceEngagementLinkage.lteThreeGEngagementNumber.value})
         WHERE voice_engagement_number = #{before.voiceEngagementNumber.value}
    </update>

    <delete id="deleteState">
        DELETE FROM  voice_engagement_state
        WHERE voice_engagement_number = #{before.voiceEngagementNumber.value}
    </delete>

    <select id="selectState" resultMap="ValidEngagementMap">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM voice_engagement_state v LEFT OUTER JOIN voice_engagement_cancel_state c
        ON v.voice_engagement_number = c.voice_engagement_number
        LEFT OUTER JOIN voice_engagement_disengage_s d
        ON v.voice_engagement_number = d.voice_engagement_number
        WHERE v.voice_engagement_number = #{before.voiceEngagementNumber.value}
    </select>

    <!-- 検索 -->


    <select id="findByUserId" resultMap="ValidEngagementMap">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM voice_engagement_state v LEFT OUTER JOIN voice_engagement_cancel_state c
        ON v.voice_engagement_number = c.voice_engagement_number
        LEFT OUTER JOIN voice_engagement_disengage_s d
        ON v.voice_engagement_number = d.voice_engagement_number
        WHERE user_id = BINARY_TO_EUC(#{userId.value})
    </select>

    <select id="findByVoiceEngagementNumber" resultMap="ValidEngagementMap">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM voice_engagement_state v LEFT OUTER JOIN voice_engagement_cancel_state c
        ON v.voice_engagement_number = c.voice_engagement_number
        LEFT OUTER JOIN voice_engagement_disengage_s d
        ON v.voice_engagement_number = d.voice_engagement_number
        WHERE v.voice_engagement_number = #{voiceEngagementNumber.value}
    </select>

    <select id="findByEquipmentNumber" resultMap="ValidEngagementMap">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM voice_engagement_state v LEFT OUTER JOIN voice_engagement_cancel_state c
        ON v.voice_engagement_number = c.voice_engagement_number
        LEFT OUTER JOIN voice_engagement_disengage_s d
        ON v.voice_engagement_number = d.voice_engagement_number
        WHERE equipment_number = BINARY_TO_EUC(#{equipmentNumber.value})
    </select>

    <select id="findByLteThreeGEngagementNumberUnderValid" resultMap="ValidEngagementMap">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM voice_engagement_state v
        LEFT OUTER JOIN voice_engagement_cancel_state c
        ON v.voice_engagement_number = c.voice_engagement_number
        LEFT OUTER JOIN voice_engagement_disengage_s d
        ON v.voice_engagement_number = d.voice_engagement_number
        WHERE v.lte_three_g_engagement_number = BINARY_TO_EUC(#{lteThreeGEngagementNumber.value})
        AND ( v.voice_engagement_status IN ( BINARY_TO_EUC(#{voiceEngagementStatusOrdered.dbValue}), BINARY_TO_EUC(#{voiceEngagementStatusEngaged.dbValue}) )
        OR ( v.voice_engagement_status = BINARY_TO_EUC(#{voiceEngagementStatusDisengaged.dbValue}) AND v.engagement_end_date_time <![CDATA[ >= ]]> #{eventDate.value}
        )
        )
    </select>

    <select id="findByLteThreeGEngagementNumber" resultMap="ValidEngagementMap">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM voice_engagement_state v
        LEFT OUTER JOIN voice_engagement_cancel_state c
        ON v.voice_engagement_number = c.voice_engagement_number
        LEFT OUTER JOIN voice_engagement_disengage_s d
        ON v.voice_engagement_number = d.voice_engagement_number
        WHERE v.lte_three_g_engagement_number = BINARY_TO_EUC(#{lteThreeGEngagementNumber.value})
    </select>

    <select id="lockByVoiceEngagementNumber" resultMap="VoiceEngagementNumberMap">
        SELECT voice_engagement_number
        FROM voice_engagement_state
        WHERE voice_engagement_number = #{voiceEngagementNumber.value}
        FOR UPDATE
    </select>

    <select id="lockByEquipmentNumber" resultMap="VoiceEngagementNumberMap">
        SELECT voice_engagement_number
        FROM voice_engagement_state
        WHERE equipment_number = BINARY_TO_EUC(#{equipmentNumber.value})
        FOR UPDATE
    </select>

    <!--  select文のカラム指定  -->
    <sql id="selectColumnsDefine">
        v.voice_engagement_number AS voice_engagement_number,
        v.system_receipt_date_time,
        EUC_TO_BINARY(v.voice_engagement_status) AS voice_engagement_status,
        EUC_TO_BINARY(v.voice_user_order_date) AS voice_user_order_date,
        EUC_TO_BINARY(v.engagement_start_date) AS engagement_start_date,
        v.engagement_end_date_time,
        EUC_TO_BINARY(v.voice_join_code) AS voice_join_code,
        EUC_TO_BINARY(v.voice_cancel_list_op_status) AS voice_cancel_list_op_status,
        EUC_TO_BINARY(v.equipment_number) AS equipment_number,
        EUC_TO_BINARY(v.user_id) AS user_id,
        EUC_TO_BINARY(v.lte_three_g_engagement_number) AS lte_three_g_engagement_number,
        EUC_TO_BINARY(v.voice_order_type) AS voice_order_type,
        c.voice_engagement_number AS c_voice_engagement_number,
        EUC_TO_BINARY(c.cancel_reason) AS cancel_reason,
        c.cancel_sys_receipt_date_time,
        EUC_TO_BINARY(c.cancel_user_order_date) AS cancel_user_order_date,
        d.voice_engagement_number AS d_voice_engagement_number,
        EUC_TO_BINARY(d.disengage_reason) AS disengage_reason,
        d.disengage_sys_receipt_date_t,
        EUC_TO_BINARY(d.disengage_user_order_date) AS disengage_user_order_date
   </sql>

    <!--  エンティティのマッピング  -->
    <resultMap id="ValidEngagementMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.ValidVoiceEngagement">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementNumber"
                 resultMap="VoiceEngagementNumberMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementStatus"
                 column="voice_engagement_status"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementStartDate"
                 resultMap="VoiceEngagementStartDateMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementEndDateTime"
                 resultMap="VoiceEngagementEndDateTimeMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.cancel.ValidVoiceEngagementCancel"
                 resultMap="ValidVoiceEngagementCancelMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.disengage.ValidVoiceEngagementDisengage"
                 resultMap="ValidVoiceEngagementDisengageMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementLinkage"
                 resultMap="VoiceEngagementLinkageMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.NewOrderInfo"
                 resultMap="NewOrderInfoMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.CancelListOutPutStatus"
                 column="voice_cancel_list_op_status"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceOrderType"
                 column="voice_order_type"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>

        </constructor>
    </resultMap>

    <!--  各ValueObjectのマッピング  -->
    <resultMap id="VoiceEngagementNumberMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementNumber">
        <constructor>
            <arg column="voice_engagement_number" javaType="int" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="VoiceEngagementStartDateMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementStartDate">
        <constructor>
            <arg column="engagement_start_date" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <resultMap id="VoiceEngagementEndDateTimeMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementEndDateTime">
        <constructor>
            <arg column="engagement_end_date_time" javaType="Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>


    <resultMap id="ValidVoiceEngagementCancelMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.cancel.ValidVoiceEngagementCancel">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementNumber"
                 resultMap="CancelVoiceEngagementNumberMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.cancel.VoiceEngagementCancelReason"
                 column="cancel_reason"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.cancel.VoiceEngagementCancelSystemReceiptDateTime"
                 resultMap="VoiceCancelSystemReceiptDateTimeMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.cancel.VoiceEngagementCancelOrderDate"
                 resultMap="VoiceCancelOrderDateMap"/>
        </constructor>
    </resultMap>
    <resultMap id="CancelVoiceEngagementNumberMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementNumber">
        <constructor>
            <arg column="c_voice_engagement_number" javaType="int" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="VoiceCancelSystemReceiptDateTimeMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.cancel.VoiceEngagementCancelSystemReceiptDateTime">
        <constructor>
            <arg column="cancel_sys_receipt_date_time" javaType="Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <resultMap id="VoiceCancelOrderDateMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.cancel.VoiceEngagementCancelOrderDate">
        <constructor>
            <arg column="cancel_user_order_date" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="ValidVoiceEngagementDisengageMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.disengage.ValidVoiceEngagementDisengage">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementNumber"
                 resultMap="DisengageVoiceEngagementNumberMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.disengage.VoiceEngagementDisengageReason"
                 column="disengage_reason"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.disengage.VoiceEngagementDisengageSystemReceiptDateTime"
                 resultMap="VoiceDisengageSystemReceiptDateTimeMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.disengage.VoiceEngagementDisengageOrderDate"
                 resultMap="VoiceDisengageOrderDateMap"/>
        </constructor>
    </resultMap>
    <resultMap id="DisengageVoiceEngagementNumberMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementNumber">
        <constructor>
            <arg column="d_voice_engagement_number" javaType="int" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="VoiceDisengageSystemReceiptDateTimeMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.disengage.VoiceEngagementDisengageSystemReceiptDateTime">
        <constructor>
            <arg column="disengage_sys_receipt_date_t" javaType="Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <resultMap id="VoiceDisengageOrderDateMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.disengage.VoiceEngagementDisengageOrderDate">
        <constructor>
            <arg column="disengage_user_order_date" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>


    <resultMap id="VoiceEngagementLinkageMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceEngagementLinkage">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.auth.domain.user.UserId" resultMap="UserIdMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.LteThreeGEngagementNumber"
                 resultMap="LteThreeGEngagementNumberMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.sim.EquipmentNumber"
                 resultMap="EquipmentNumberMap"/>
        </constructor>
    </resultMap>
    <resultMap id="UserIdMap" type="jp.co.biglobe.isp.auth.domain.user.UserId">
        <constructor>
            <arg column="user_id" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <resultMap id="LteThreeGEngagementNumberMap"
               type="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.LteThreeGEngagementNumber">
        <constructor>
            <arg column="lte_three_g_engagement_number" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <resultMap id="EquipmentNumberMap" type="jp.co.biglobe.isp.mobile.ltethreeg.domain.sim.EquipmentNumber">
        <constructor>
            <arg column="equipment_number" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="NewOrderInfoMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.NewOrderInfo">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceSystemReceiptDateTime"
                 resultMap="VoiceSystemReceiptDateTimeMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceUserOrderDate"
                 resultMap="VoiceUserOrderDateMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceJoinCode"
                 resultMap="VoiceJoinCodeMap"/>
        </constructor>
    </resultMap>
    <resultMap id="VoiceSystemReceiptDateTimeMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceSystemReceiptDateTime">
        <constructor>
            <arg column="system_receipt_date_time" javaType="Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <resultMap id="VoiceUserOrderDateMap"
               type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceUserOrderDate">
        <constructor>
            <arg column="voice_user_order_date" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <resultMap id="VoiceJoinCodeMap" type="jp.co.biglobe.isp.mobile.voiceoption.domain.voiceengagement.VoiceJoinCode">
        <constructor>
            <arg column="voice_join_code" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
</mapper>
