<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.voiceoption.datasource.voiceengagement.db.VoiceEngagementDisengageMapper">

    <!-- EventテーブルのInsert-->

    <insert id="insertEvent">
        INSERT INTO voice_engagement_disengage_e
        ( event_id,
          event_type,
          event_date,
          event_process,
          voice_engagement_number,
          disengage_reason,
          disengage_sys_receipt_date_t,
          disengage_user_order_date
        )
        VALUES
        ( seq_voice_disengage_event.NEXTVAL,
          BINARY_TO_EUC(#{eventType.dbValue}),
          #{eventDate},
          BINARY_TO_EUC(#{eventProcess}),
          #{validData.voiceEngagementNumber.value},
          BINARY_TO_EUC(#{validData.voiceEngagementDisengageReason.dbValue}),
          #{validData.voiceEngagementDisengageSystemReceiptDateTime.value},
          BINARY_TO_EUC(#{validData.voiceEngagementDisengageOrderDate.value})
        )
    </insert>

    <!-- StateテーブルのInsert-->

    <insert id="insertState">
        INSERT INTO voice_engagement_disengage_s
        ( voice_engagement_number,
          disengage_reason,
          disengage_sys_receipt_date_t,
          disengage_user_order_date
        )
        VALUES
        ( #{after.voiceEngagementNumber.value},
          BINARY_TO_EUC(#{after.voiceEngagementDisengageReason.dbValue}),
          #{after.voiceEngagementDisengageSystemReceiptDateTime.value},
          BINARY_TO_EUC(#{after.voiceEngagementDisengageOrderDate.value})
        )
    </insert>

    <!-- StateテーブルのDelete-->

    <delete id="deleteState">
        DELETE FROM  voice_engagement_disengage_s
        WHERE voice_engagement_number = #{before.voiceEngagementNumber.value}
    </delete>

</mapper>
