<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.mobile.ltethreeg.datasource.ltethreegengagement.db.LteThreeGEngagementQueryMapper">

    <select id="findByUserId" resultMap="ValidLteThreeGEngagement">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM lte_contract_info
        WHERE index_free1 = BINARY_TO_EUC(#{userId.value})
        <include refid="whereEnableDefine"/>
    </select>

    <select id="findByLteThreeGEngagementNumberForEnable" resultMap="ValidLteThreeGEngagement">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM lte_contract_info
        WHERE primary_key1 = BINARY_TO_EUC(#{lteThreeGEngagementNumber.value})
        <include refid="whereEnableDefine"/>
    </select>

    <select id="findByLteThreeGEngagementNumber" resultMap="ValidLteThreeGEngagement">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM lte_contract_info
        WHERE primary_key1 = BINARY_TO_EUC(#{lteThreeGEngagementNumber.value})
    </select>

    <select id="findVoiceSimEngagementByMsisdn" resultMap="ValidLteThreeGEngagement">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM lte_contract_info
        WHERE primary_key1 IN
        (
        SELECT
          u.foreign_key1
        FROM lte_usable_equip u
            LEFT JOIN lte_equip_info e
            ON u.item_free11 = e.primary_key1
        WHERE e.item_free47='1'
        AND u.item_free3 = '0'
        AND (u.item_free2 = '1' OR (u.item_free2 = '0' AND u.item_free_date6 <![CDATA[ >= ]]> #{systemdate}))
        AND u.item_free21 = BINARY_TO_EUC(#{msisdn.value})
        )
        <include refid="whereEnableDefine"/>
    </select>

    <select id="findVoiceSimEngagementByBiglobeDenwaMsisdn" resultMap="ValidLteThreeGEngagement">
        SELECT
        <include refid="selectColumnsDefine"/>
        FROM lte_contract_info
        WHERE primary_key1 IN
        (
        SELECT
        u.foreign_key1
        FROM lte_usable_equip u
        LEFT JOIN lte_equip_info e
        ON u.item_free11 = e.primary_key1
        WHERE e.item_free47='1'
        AND u.item_free3 = '0'
        AND (u.item_free2 = '1' OR (u.item_free2 = '0' AND u.item_free_date6 <![CDATA[ >= ]]> #{systemdate}))
        AND u.item_free21 = BINARY_TO_EUC(#{msisdn.value})
        )
        <include refid="whereEnableDefine"/>
    </select>

    <!--  select文のカラム指定  -->
    <sql id="selectColumnsDefine">
        EUC_TO_BINARY(primary_key1) AS lte_three_g_engagement_number,
        EUC_TO_BINARY(item_free32) AS lte_three_g_order_type,
        EUC_TO_BINARY(index_free1) AS user_id,
        EUC_TO_BINARY(item_free11) AS before_service_plan_code,
        EUC_TO_BINARY(item_free12) AS after_service_plan_code,
        EUC_TO_BINARY(item_free72) AS service_plan_switching_date,
        EUC_TO_BINARY(item_free91) AS connect_control_exemption,
        index_free_date4 AS lte_engagement_end_date_time,
        EUC_TO_BINARY(item_free4) AS lte_engagement_status_code
    </sql>

    <sql id="whereEnableDefine">
        AND ( (item_free4 = '10')
        OR (item_free4 = '50')
        OR (item_free4 = '90' AND index_free_date4 <![CDATA[ >= ]]> #{systemdate}) )
    </sql>


    <!--  エンティティのマッピング  -->
    <resultMap id="ValidLteThreeGEngagement" type="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.ValidLteThreeGEngagementEntity">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.LteThreeGEngagementNumber" resultMap="LteThreeGEngagementNumber"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.status.LteThreeGEngagementStatus" resultMap="LteThreeGEngagementStatusMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.LteThreeGOrderType"
                 column="lte_three_g_order_type"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.auth.domain.user.UserId" resultMap="UserId"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.serviceplan.LteThreeGServicePlan" resultMap="LteThreeGServicePlanMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.ConnectControlExemption"
                 column="connect_control_exemption"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumElseTypeHandler"/>
        </constructor>
    </resultMap>

    <!--  各ValueObjectのマッピング  -->
    <resultMap id="LteThreeGEngagementNumber" type="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.LteThreeGEngagementNumber">
        <constructor>
            <arg column="lte_three_g_engagement_number" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="LteThreeGEngagementStatusMap" type="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.status.LteThreeGEngagementStatus">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.status.LteThreeGEngagementStatusCode"
                 column="lte_engagement_status_code"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.status.LteThreeGEngagementEndDateTime" resultMap="LteThreeGEngagementEndDateTimeMap"/>
        </constructor>
    </resultMap>
    <resultMap id="LteThreeGEngagementEndDateTimeMap" type="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.status.LteThreeGEngagementEndDateTime">
        <constructor>
            <arg column="lte_engagement_end_date_time" javaType="Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>

    <resultMap id="UserId" type="jp.co.biglobe.isp.auth.domain.user.UserId">
        <constructor>
            <arg column="user_id" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <resultMap id="LteThreeGServicePlanMap" type="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.serviceplan.LteThreeGServicePlan">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.serviceplan.ValidLteThreeGServicePlanChange" resultMap="ValidLteThreeGServicePlanChangeMap"/>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.serviceplan.LteThreeGServicePlanCode"
                 column="after_service_plan_code"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
        </constructor>
    </resultMap>

    <resultMap id="ValidLteThreeGServicePlanChangeMap" type="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.serviceplan.ValidLteThreeGServicePlanChange">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.serviceplan.LteThreeGServicePlanCode"
                 column="before_service_plan_code"
                 typeHandler="jp.co.biglobe.lib.publication.typehandler.EnumTypeHandler"/>
           <arg javaType="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.serviceplan.LteThreeGServicePlanSwitchingDate" resultMap="LteThreeGServicePlanSwitchingDateMap"/>
        </constructor>
    </resultMap>
    <resultMap id="LteThreeGServicePlanSwitchingDateMap" type="jp.co.biglobe.isp.mobile.ltethreeg.domain.ltethreegengagement.serviceplan.LteThreeGServicePlanSwitchingDate">
        <constructor>
            <arg column="service_plan_switching_date" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
</mapper>
